<nav class="nav nav-tabs flex-column" th:fragment="admin" xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav" >
        <li class="nav-item">
            <a class="nav-link" th:href="@{/verify-file}">Tài khoản và người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/generate-key}">Quản lý khoa</a>
        </li>
    </ul>
</nav>

<nav class="nav nav-tabs flex-column" th:fragment="gv" xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gv/quan-ly-ket-qua-hoc-tap}">Quản lý kết quả học tập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gv/thoi-khoa-bieu}">Thời khóa biểu</a>
        </li>
    </ul>
</nav>

<nav class="nav nav-tabs flex-column" th:fragment="qlk" xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/qlk/mon-hoc}">Quản trị môn học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/qlk/quan-ly-nganh}">Quản trị ngành</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/qlk/nganh}">Quản trị chương trình học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/thongtinkhoa}">Quản trị lớp chính quy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/qlk/lop-mon-hoc}">Quản trị lớp môn học</a>
        </li>
    </ul>
</nav>

<nav class="nav nav-tabs flex-column" th:fragment="sv" xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sv/lop-chinh-quy}">Lớp chính quy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sv/dang-ky-mon-hoc}">Đăng ký môn học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sv/ket-qua-hoc-tap}">Kết quả học tập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sv/thoi-khoa-bieu}">Xem thời khóa biểu</a>
        </li>
    </ul>
</nav>