<nav class="nav nav-tabs flex-column"
     th:fragment="nav_quanly" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/verify-file}">Quản lý môn học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/generate-key}">Quản lý ngành</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/register-key}">Quản lý chương trình học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/thongtinkhoa}">Lớp chính quy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sign-file}">Lớp môn học</a>
        </li>
    </ul>
</nav>