<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Ngành Học</title>
</head>

<body>

<div class="container">

    <h3>Ngành</h3>
    <hr>
    <!-- Add a button-->
    <a th:href="@{/qlk/nganh/them-nganh}"
       class="btn btn-primary btn-sm mb-3">
        Thêm Ngành
    </a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Tên Ngành</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="nganh : ${nganhs}">

            <td th:text="${nganh.ten}" />
            <td th:text="${nganh.moTa}" />
            <td th:text="${nganh.state}" />
            <td>
                    <a th:href="@{/qlk/quan-ly-nganh/{id}/sua-nganh(id = ${nganh.id})}"
                       class="btn btn-info btn-sm">
                        Update
                    </a>

                <!-- Add "Delete" button/link-->
                <a th:href="@{/qlk/quan-ly-nganh/{id}/xoa-nganh(id = ${nganh.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this employee'))) return false">

                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



