<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Employee </title>
</head>

<body>
<div class="container">
<div th:replace="fragments/header :: header"></div>
<div class="row" style="border-top-color: var(--bs-yellow);">
    <div class="col-3">
        <div sec:authorize="hasAuthority('SV')" th:replace="fragments/nav :: sv"></div>
        <div sec:authorize="hasAuthority('GV')" th:replace="fragments/nav :: gv"></div>
        <div sec:authorize="hasAuthority('QLK')" th:replace="fragments/nav :: qlk"></div>
        <div sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/nav :: admin"></div>
    </div>
    <div class="col" >
        <!--            content ở đây hú hú-->

        <h3>Ngành</h3>
        <hr>
        <div th:if="${message}" class="success-message">
            <span th:text="${message}"></span>
        </div>
        <p class="h4 mb-4"> Sửa ngành</p>

        <form action="#" th:action="@{/qlk/quan-ly-nganh/sua-nganh}"
              th:object="${nganh}" method="post">

            <!-- Add hiden form field to handle the update -->
            <input type="hidden" th:field="*{id}">

            <input type="text" th:field="*{ten}"
                   class="form-control mb-4 w-25 " placeholder="Tên ngành">

            <input type="text" th:field="*{moTa}"
                   class="form-control mb-4 w-25 " placeholder="Mô tả">

            <button type="submit" class="btn btn-info col-2">Cập nhật</button>

        </form>

        <hr>
        <a th:href="@{/qlk/quan-ly-nganh}">Quay trở lại danh sách nganh</a>
    </div>
</div>
</div>

</body>

</html>