<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Môn Học</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row" style="border-top-color: var(--bs-yellow);">
        <div class="col-2">
            <div sec:authorize="hasAuthority('SV')" th:replace="fragments/nav :: sv"></div>
            <div sec:authorize="hasAuthority('GV')" th:replace="fragments/nav :: gv"></div>
            <div sec:authorize="hasAuthority('QLK')" th:replace="fragments/nav :: qlk"></div>
            <div sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/nav :: admin"></div>
        </div>
        <div class="col">
            <h3 th:text="'Giảng viên phụ trách môn '  +${monHoc.ten}"></h3>
            <hr>
            <span th:text="${listGiangVienOfKhoa.size}"></span><br>
            <form th:action="@{/qlk/mon-hoc/giang-vien/add}" method="post">
                <input type="hidden" th:value="${monHoc.id}" name="monHocId">
                <select name="giangVienId">
                    <option th:each="gv : ${listGiangVienOfKhoa}"
                            th:value="${gv.id}"
                            th:text="${gv.id} +' - ' + ${gv.user.ho} + ' ' +${gv.user.ten}"></option>
                </select>
                <button type="submit">Thêm</button>
            </form>

            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Mã giảng viên</th>
                    <th>Tên giảng viên</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="gv : ${listGiangVienOfMonHoc}">

                    <td th:text="${gv.id}"/>
                    <td th:text="${gv.user.ho} + ' ' + ${gv.user.ten}"/>
                    <td>
                        <a th:href="@{/qlk/mon-hoc/giang-vien/delete(giangVienId = ${gv.id}, monHocId=${monHoc.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if(!(confirm('Bạn muốn xóa giảng viên này?'))) return false">

                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>



