<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Môn học Form</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row" style="border-top-color: var(--bs-yellow);">
        <div class="col-2">
            <div sec:authorize="hasAuthority('SV')" th:replace="fragments/nav :: sv"></div>
            <div sec:authorize="hasAuthority('GV')" th:replace="fragments/nav :: gv"></div>
            <div sec:authorize="hasAuthority('QLK')" th:replace="fragments/nav :: qlk"></div>
            <div sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/nav :: admin"></div>
        </div>
        <div class="col" >
            <form action="#"
                  th:action="@{/qlk/mon-hoc/save}"
                  th:object="${monHoc}" method="post">
            <table class="table">
                <tbody>
                <tr>
                    <td>Tên môn học</td>
                    <td><input type="text" th:field="*{ten}"
                               class="form-control mb-4 w-25 " placeholder="Tên môn học"></td>
                </tr>
                <tr>
                    <td>Số tín</td>
                    <td><input type="text" th:field="*{soTin}"
                               class="form-control mb-4 w-25 " placeholder="Số tín"></td>
                </tr>
                <tr>
                    <td>Hệ số điểm:</td>
                    <td>
                        <table class="table table-striped">
                            <thead>
                            <th scope="col">Thường xuyên 1</th>
                            <th scope="col">Thường xuyên 2</th>
                            <th scope="col">Thường xuyên 3</th>
                            <th scope="col">Giữa kỳ 1</th>
                            <th scope="col">Giữa kỳ 2</th>
                            <th scope="col">Giữa kỳ 3</th>
                            <th scope="col">Điểm thi</th>
                            </thead>
                            <tbody>
                            <td><input type="text" th:field="*{heSoTx1}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoTx2}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoTx3}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoGiuaKi1}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoGiuaKi2}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoGiuaKi3}"
                                       class="form-control mb-4" >
                            </td>
                            <td><input type="text" th:field="*{heSoThi}"
                                       class="form-control mb-4" >
                            </td>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>State</td>
                    <td><input type="text" th:field="*{state}"
                               class="form-control mb-4 w-25 " placeholder="state"></td>
                </tr>
                <tr>
                    <td>
                        Giảng Viên phụ trách
                        </td>
                    <td>
                        <a th:href="@{/qlk/mon-hoc/giang-vien(monHocId = *{id})}"
                           class="btn btn-info btn-sm">
                            Thêm viên phụ trách
                        </a>
                        <table class="table table-striped">
                        <thead>
                        <th scope="col">Mã giảng viên</th>
                        <th scope="col">Tên giảng viên</th>
                        </thead>
                        <tbody>
                        <tr th:each="gv: *{giangVienList}">
                            <td>
                                <span th:text="${gv.id}"></span>
                            </td>
                            <td>
                                <span th:text="${gv.user.ho} + ' '+${gv.user.ten}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table></td>
                </tr>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{giangVienList}" />
                <input type="hidden" th:field="*{chuongTrinhHocList}" />
                <input type="hidden" th:field="*{lopMonHocList}" />
                <input type="hidden" th:field="*{khoa}" />
                </tbody>
            </table>


                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>
            <hr>
            <a th:href="@{/qlk/mon-hoc}">Quay trở lại danh sách môn học</a>
        </div>
    </div>
</div>

</body>

</html>