<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--jquery-->
    <script src="/jquery/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Ngành Học</title>
</head>

<body>
<div class="container">
<div th:replace="fragments/header :: header"></div>
<div class="row" style="border-top-color: var(--bs-yellow);">
<div class="col-3">
    <div sec:authorize="hasAuthority('SV')" th:replace="fragments/nav :: sv"></div>
    <div sec:authorize="hasAuthority('GV')" th:replace="fragments/nav :: gv"></div>
    <div sec:authorize="hasAuthority('QLK')" th:replace="fragments/nav :: qlk"></div>
    <div sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/nav :: admin"></div>
</div>
<div class="col">
    <!--            content ở đây hú hú-->

    <h3>Chương Trình Học</h3>
    <hr>
    <!-- Add a button-->
    <a th:href="@{${uri} +'/them-chuong-trinh-hoc'}"
       class="btn btn-primary btn-sm mb-3">
        Thêm chương trình học
    </a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Tên Chương trình học</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cth : ${chuongTrinhHocs}">

            <td th:text="${cth.ten}"/>
            <td th:text="${cth.moTa}"/>
            <td th:text="${cth.state}"/>
            <td>
                <a th:href="@{{uri}/{id}/sua-chuong-trinh-hoc(id = ${cth.id},uri = ${uri})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{{uri}/{id}/sua-chuong-trinh-hoc(id = ${cth.id},uri = ${uri})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this employee'))) return false">
                    Delete
                </a>

                <a th:href="@{{uri}/{id}/mon-hoc(id = ${cth.id},uri = ${uri})}">
                    <i class="bi bi-exclamation-circle"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<script type="text/javascript">

</script>
</body>
</html>



